/*#balloon {
    display: table;
    width: 100%;
    height: 100%;
    background: linear-gradient( 
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.1)
    )
    background-size: cover;
}*/
h1 {
    font-family:Pristine;
}
/*img {
    width:100%;
    height:100%;
    display:table;
}*/
#whole {
    background-color:lavender;
}
#home {
    margin:10px 10px;
    font-family:Helvetica;
    background-color:lightblue;
}
#info {
    margin:10px 10px;
}
#testimonials {
    background-color:lightblue;
}
#gallery {
    background-color:#009688;
}
#balloon-2 {
    display:inline-block;
    margin:10px 10px;
    
}
#balloon-3 {
    float:right;
    display:inline-block;
    margin:10px 10px;
    
}
#balloon-4 {
    float:right;
    display:inline-block;
    margin:10px 10px;
}
.navbar  {
    position:relative;
    border-color: red;
}
