/*#balloon {
    display: table;
    width: 100%;
    height: 100%;
    background: linear-gradient( 
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.1)
    )
    background-size: cover;
}*/
h1 {
    font-family:Pristine;
}
/*img {
    width:100%;
    height:100%;
    display:table;
}*/
#info {
    margin:10px 0px;

    
    margin:10px 10px;
}
img {
    display:inline-block;
    margin:10px 10px;
}
.balloon-3 {
    float:right;
    display:inline-block;
    margin:10px 10px;
}
.balloon-4 {
    float:right;
}
.navbar navbar-default {
    position:fixed;
}
