h1 {
    font-family:Pristine;
}
#whole {
    background-color:lavender;
}
#home {
    margin:10px 10px;
    padding-top:50px;
    font-family:Helvetica;
    background-color:lightblue;
}
#info {
    margin:10px 10px;
    padding-top:50px;
    background-color: rgb(128, 170, 255);
}
#testimonials {
    margin:10px 10px;
    padding-top:50px;
    background-color:lightblue;
}
#gallery {
    margin:10px 10px;
    padding-top:50px;
    background-color:#009688;
}
img {
    display:inline-block;
    margin:10px 10px;
    width:100%;
    display:table;
}
#image {
    display: table;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.1)),
    url("img/balloon-1.jpg") no-repeat center;
    background-size: cover;
    margin-top:10px;
    padding-top:50px;
    padding-bottom: 50px;
}
.text-vertical-center {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: white;
    font-size: 80px;
}
/*medium screen*/
@media only screen and (min-width:767px) {

}
/*wide screen*/
@media only screen and (min-width:900px) {
}
/*small screen*/
@media only screen and (min-width:400px) {
}
p {
    font-family: 'Inconsolata', monospace;
}